<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de Reuniões</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>HR. Inicio</th>
            <th>HR. Fim</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Reuniao of Reunioes | async">
            <td>{{Reuniao.nome}}</td>
            <td>{{Reuniao.data}}</td>
            <td>{{Reuniao.hrInicio}}</td>
            <td>{{Reuniao.hrFim}}</td>
            <td><button (click)="deleteReuniao(Reuniao.id)" class="btn btn-danger">Remove</button>
              <button (click)="updateReuniao(Reuniao.id)" class="btn btn-info" style="margin-left: 10px">Atualiza</button>
                <button (click)="ReuniaoDetails(Reuniao.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  